<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Engine</title>
    <link rel="stylesheet" href="./style.css" />


</head>

<body>
    <header class="header">
        <a href= />
        <h2 class="header__logo"><img
                src="https://lh3.googleusercontent.com/-TxE8f63FlOY/VpApgpuCimI/AAAAAAAAMgw/-dLoanOsUtI/s1000-Ic42/imageedit_1_2973554234.gif"
                alt="normal" width="300" height="200"></h2>
        </a>
    </header>
    <!-- form action-> where we want to send req to -->
    <form action="/index" method="POST">
        <input type="text" name="question" placeholder="Search dsa problem" required>
        <br>
        <input type="submit" value="Let's Find">
        </br>

    </form>

    <div class="loading"></div>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>

</html>

<!-- <script>
    const form = document.querySelector("form");
    const questionElement = form.question;

    const questions = document.querySelectorAll(".question");
    const titles = document.querySelectorAll(".title");
    const urls = document.querySelectorAll(".url");
    const quesBody = document.querySelectorAll(".body");
    const loadingDiv = document.querySelector(".loading");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const question = questionElement.value;
        for (let i = 0; i < 5; i++) {
            titles[i].innerHTML = ``;
        }

        loadingDiv.innerHTML = `Loading...`;
        //fetch

        try {
            const res = await fetch(`/search?question=${question}`, {
                method: "GET",
            });
            const data = await res.json();

            loadingDiv.innerHTML = ``;

            for (let i = 0; i < 5; i++) {
                titles[i].innerHTML = `<h3>${data[i].title}</h3>`;
            }
        } catch (error) {
            alert(error);
        }
    });
</script> -->