<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Search Engine</title>

<body>

    <header class="header">
        <a href= />
        <h2 class="search_logo"><img
                src="https://lh3.googleusercontent.com/-TxE8f63FlOY/VpApgpuCimI/AAAAAAAAMgw/-dLoanOsUtI/s1000-Ic42/imageedit_1_2973554234.gif"
                alt="normal" width="200" height="50"></h2>
        </a>
        <div class="search_bar">
            <form action="/index" method="POST">
                <input type="text" name="question" placeholder="Search dsa problem" required>
                <input type="submit" value="find another">
            </form>
        </div>

    </header>

    <div class="problem_searched">
        <% if (body.length> 1) { %>
            <% for(var cnt=0; cnt < body.length; cnt++) { %>

                <a class="problem_url" href=<%-body[cnt]['problem_url'] %>><strong>
                        <%= body[cnt]['problem_title'] %>
                    </strong> </a>
                <p class="problem_description">
                    <%= body[cnt]['problem_desc'] %>
                </p><br />
                <% } %>
                    <% } else { %>
                        <p><strong>
                                <h2>Could not find related problem :(</h2>
                            </strong></p>
                        <% } %>

    </div>
</body>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

</html>